@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<form action="@Url.Action("Cadastrar")" method="post">

    <Label for="IdEquipe">IdEquipe</Label>
    <input type="text" name="IdEquipe" id="IdEquipe">
    <Label for="Nome">Nome</Label>
    <input type="text" name="Nome" id="Nome">
    <Label for="IdEquipe">Imagem</Label>
    <input type="text" name="Imagem" id="Imagem">

    <button type="submit">Cadastrar Equipe</button>

</form>

<table class="table table-striped table-responsive ">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Equipes)
        {
            <tr>
                <td>@item.IdEquipe</td>
                <td>@item.Nome</td>
                <td>@item.Imagem</td>
            </tr>
        }
    </tbody>
</table>