@model Noticias
@{
    ViewData["Title"] = "Noticias";
}

<form action="@Url.Action("Cadastro")" method="post" enctype="multipart/form-data">

<h1>Últimas Notícias</h1>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatibus saepe exercitationem illo molestiae placeat possimus eum deserunt hic sapiente autem, cum nulla impedit? Minus dolores amet cumque at incidunt?</h2>

<label for="Imagem">Imagem</label>
<input type="file" name="Imagem" id="Imagem">



<button type="submit">Ver Noticias</button>

</form>

<table class = "table table-responsive table-striped">

    <thead>
        <th>Imagem<th>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.Noticias)
        {
            <tr> 
                 <td><img src="img/Noticias/@item.Imagem" alt="Imagem da equipe @item.Titulo" ></td> 
                <td><a asp-area="" asp-controller="Noticia" asp-action="Excluir" asp-route-id="@item.IdNoticias">Excluir</a></td>


            </tr>
        }
    </tbody>

</table>